* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(5, 161, 190);
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.container-heading {
  color: white;
  margin: 1.3rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.container-enter {
  color: rgb(237, 204, 60);
  font-size: 1.3em;
  word-spacing: 3px;
  margin: 1.3rem;
  font-weight: bold;
}

.container-item {
  color: rgb(56, 240, 139);
  margin: 1.3rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.container-x {
  color: rgb(2, 95, 112);
  font-weight: bold;
  font-size: 1.3rem;
  margin: 1.3rem;
}

.input-text-div {
  display: flex;
  justify-content: center;
  gap: 8px;
}
#input-text {
  width: 60%;
  min-height: 40px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
}
::placeholder {
  color: rgb(123, 154, 196);
  opacity: 1;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
}

.input-text-div > button {
  padding: 0.5em 1.1em;
  min-height: 40%;
  border-radius: 12px;
  font-size: 1.2em;
  background-color: rgb(2, 95, 112);
  color: rgb(5, 161, 190);
  border: none;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

li:hover {
  background-color: rgb(73, 203, 226);

}

.input-text-div > button:hover {
  color: #ffcd5d;
  background-color: #02798f;
}
.todo-list {
  margin-top: 20px;
  /* padding-left: 0.1rem;    */
}

li {
  list-style: none;
  height: 45px;
  text-align: left;
  font-size: 1.5rem;
  background-color: rgb(79, 185, 204);
  width: min(calc(63% - 190px));
  margin: auto;
  border-radius: 7px;
  padding: 5px 2rem;
  border: black solid thin;
  color: white;
  /* display: flex; */
  margin-bottom: 1rem;
}

.done {
  background: #51df70 !important;
  color: #00891e;
}

li > button {
  color: rgb(2,94,113);
  border: none;
  float: right;
  padding: 0;
  font-weight: 800;
  margin-top: 5px;
  font-size: 1.5rem;
  background-color: rgb(79,185,204);
}

.delete {
  display: none;
}

@media screen and (max-width : 500px) {
  li {
    width: calc(80% - 50px) ;
  }
}
